<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增对象</title>
</head>
<body>
<form method="post" action="/Student/addStudent">
    <table>
        <tr>
            <td>
                <label id = "123" content="学生姓名" />
                <input id = "studentName"  name="studentName" />
            </td>
        </tr>
        <tr>
            <td>
                <label id = "1231" content="学生年龄"  />
                <input id = "Age"  name="Age" />
            </td>
        </tr>
        <tr>
           <input type="submit" name="提交" value="提交" />
        </tr>
    </table>
</form>
</body>
</html>